.searchbar {
    display: flex;
    height: 2rem;
}

.input-text {
    border: solid 1px #ffa41b;
    border-radius: 5px;
    width: 20rem;
    margin-right: .5rem;
}

.button_search {
    background-color: #ffa41b;
    border-radius: 5px;
    width: 2rem;
    border:0;
    color: white;
    transform: scaleX(-100%) !important;
}
