.mainBloc {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.headerPage {
    background-color: white;
    padding: 1rem;
    min-height: 6rem;
    display: flex;
    flex-wrap: wrap;
}

.app {
    display:flex;
    flex-direction: column;

    padding: 1rem;
}

.footer {
    height: 2rem;
    background-color: blue;
    padding: 1rem;
}